<p>
<mat-toolbar color="primary" class="app-header">
  <div>Product Database</div>
</mat-toolbar>
</p>
<p>
  </p>
  <p>
  <mat-card class="my-card" style="text-align: center;"  >
    <span style="text-align: center; font-size: 30px;">Log In</span>
    <mat-card-content style="margin-top: 100px">
       <form [formGroup]="loginForm" class="my-form" (ngSubmit)="login()">
          <mat-form-field class="full-width">
             <mat-label>Email</mat-label>
             <input  matInput formControlName="email" placeholder="Email" name="email">
          </mat-form-field>
          <p>          
            <mat-form-field class="full-width">
             <mat-label>Password</mat-label>
             <input  matInput formControlName="password" placeholder="Password" type="password">
          </mat-form-field>
        </p>
       </form>
    </mat-card-content>
    <mat-card-actions>
       <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
    </mat-card-actions>
    </mat-card>
    </p>
  
<!-- <div class="login" style = "display: flex; align-items: center; justify-content: center; ">
  <h2 class="login-header">Log In</h2>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
  
    <p [ngClass]="{ 'has-error': isSubmitted && formControls['email'].errors}">
       <input type="email" placeholder="Email" formControlName="email">
</p> 
<div *ngIf="isSubmitted && formControls['email'].errors && formControls['email'].touched" class="help-block">
  <div *ngIf="formControls['email'].errors['required']">Email is required</div>
  <div *ngIf="formControls['email'].errors['touched']"> Email is Invalid</div>
</div>


    <p [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }">
      <input type="password" placeholder="Password" formControlName="password">
    </p>

    <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
      <div *ngIf="formControls['password'].errors['required']">Password is required</div>
    </div>

    <p>
      <input type="submit" value="Log in">
    </p>
  </form>
  </div>
  </div>
</div> -->