<router-outlet></router-outlet>
<footer class="footer">
    <div class="content has-text-centered" style="display: flex; justify-content: right; margin-top: 20px;" routerLink="/contactus">
        <mat-icon>contact_support</mat-icon>
    </div>
<div class="container">
    <div class="content has-text-centered" style="display: flex; justify-content: center; margin-top: 50px;">
      <p>
        Made by :  Rutvik Vaidya
      </p>
    </div>
    <div class="content has-text-centered" style="display: flex; justify-content: center; margin-top: 50px;">
          Contact :  rutvik.vaidya@infosys.com
      </div>
    </div>
    
    </footer>