<mat-toolbar color="primary">
    <span class="fill-remaining-space">
        Product Dashboard
</span>
</mat-toolbar>
<div style="left: auto">
        <mat-icon routerLink="/admin">home</mat-icon>
        <span>Home</span>
</div>
<div class="float-end mt-3">
    <button type="button" class="btn btn-success" (click)="clickAddProduct()">Add Products</button>
</div>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Availability</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of productData">
            <td>{{row.prod_id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.description}}</td>
            <td>{{row.price}}</td>
            <td>{{row.availability}}</td>
            <td>{{row.id}}</td>
            <td>
                <button class="btn btn-info mx-3" (click)="onEdit(row)" >Edit</button>
                <button (click)="deleteProduct(row)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Your New Product</h4>
            </div>
            <div class="modal-body">
                <form [formGroup] = "formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Product ID</label>
                        <input type="number" formControlName="prod_id" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" >
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Description</label>
                        <input type="text" formControlName="description" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Price</label>
                        <input type="text" formControlName="price" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Availablity</label>
                        <input type="text" formControlName="availability" class="form-control">
                      </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id = "cancel" class="btn btn-danger" (click)="closePopup()" data-bs-dismiss="modal">
                    Close
                </button>
                <button *ngIf="showAdd" type="button" class="btn btn-success" (click)="postProductDetails()">
                    Add!
                </button>
                <button *ngIf="showUpdate" class="btn btn-success" (click)="updateProduct()">
                    Update!
                </button>
            </div>
        </div>
    </div>
</div>